In [1]:
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)

print(keras.__version__)

2.0.0-rc1
2.2.4-tf

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
# Wczytaj dane treningowe i testowe
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

train_set = pd.read_csv('Dane/adult/adult.data', sep=", ",header = None)
test_set = pd.read_csv('Dane/adult/adult.test', sep=", ",skiprows = 1, header = None) # Make sure to skip a row for the test set

col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 
              'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
             'wage_class']
train_set.columns = col_labels
test_set.columns = col_labels

train = train_set.replace('?', np.nan).dropna()
test = test_set.replace('?', np.nan).dropna()

train_set.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Zad.
Zróbmy szybki preprocesing

In [4]:
dataset = pd.concat([train,test])

dataset['wage_class'] = dataset.wage_class.replace({'<=50K.': 0,'<=50K':0, '>50K.':1, '>50K':1})

dataset.drop(["fnlwgt"],axis=1,inplace=True)

dataset.drop(["education"],axis=1,inplace=True)

x = dataset.groupby('native_country')["wage_class"].mean()

d = dict(pd.cut(x[x.index!=" United-States"],5,labels=range(5)))

dataset['native_country'] = dataset['native_country'].replace(d)

dataset = pd.get_dummies(dataset,drop_first=True)

train = dataset.iloc[:train.shape[0]]
test = dataset.iloc[train.shape[0]:]

X_train = train.drop("wage_class",axis=1)
y_train = train.wage_class

X_test = test.drop("wage_class",axis=1)
y_test = test.wage_class

# TensorBoard

In [5]:
root_logdir = os.path.join(os.curdir, "my_logs")

In [6]:
def get_run_logdir():
    import time
    run_id = time.strftime("run_%Y_%m_%d-%H_%M_%S")
    return os.path.join(root_logdir, run_id)

run_logdir = get_run_logdir()
run_logdir

'.\\my_logs\\run_2020_05_21-12_26_20'

In [7]:
keras.backend.clear_session()
np.random.seed(42)
tf.random.set_seed(42)

In [8]:
from keras.models import Sequential
from keras.layers import Dense

from keras.callbacks import History

history = History()
model = Sequential()
model.add(Dense(100,activation="sigmoid",input_shape=(X_train.shape[1],)))
model.add(Dense(50,activation="sigmoid"))
model.add(Dense(10,activation="sigmoid"))
model.add(Dense(1,activation="sigmoid"))
model.summary()

Using TensorFlow backend.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               4200
_________________________________________________________________
dense_2 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_3 (Dense)              (None, 10)                510
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 9,771
Trainable params: 9,771
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(loss="binary_crossentropy",optimizer="Adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [10]:
from keras.callbacks import TensorBoard 

tensorboard_cb = TensorBoard(run_logdir)
history = model.fit(X_train, y_train, epochs=30, validation_data=(X_test, y_test), callbacks=[tensorboard_cb])

Train on 30162 samples, validate on 15060 samples
Epoch 1/30
30162/30162 [==============================] - 3s 84us/step - loss: 0.5441 - accuracy: 0.7461 - val_loss: 0.4403 - val_accuracy: 0.7760
Epoch 2/30
30162/30162 [==============================] - 2s 74us/step - loss: 0.4017 - accuracy: 0.7993 - val_loss: 0.3911 - val_accuracy: 0.7966
Epoch 3/30
30162/30162 [==============================] - 2s 73us/step - loss: 0.3823 - accuracy: 0.8090 - val_loss: 0.3753 - val_accuracy: 0.8147
Epoch 4/30
30162/30162 [==============================] - 2s 77us/step - loss: 0.3769 - accuracy: 0.8121 - val_loss: 0.3703 - val_accuracy: 0.8148
Epoch 5/30
30162/30162 [==============================] - 2s 75us/step - loss: 0.3746 - accuracy: 0.8116 - val_loss: 0.3839 - val_accuracy: 0.8045
Epoch 6/30
30162/30162 [==============================] - 2s 76us/step - loss: 0.3719 - accuracy: 0.8112 - val_loss: 0.3691 - val_accuracy: 0.8120
Epoch 7/30
30162/30162 [==============================] - 2s 78us/step - loss: 0.3709 - accuracy: 0.8129 - val_loss: 0.3731 - val_accuracy: 0.8136
Epoch 8/30
30162/30162 [==============================] - 2s 79us/step - loss: 0.3695 - accuracy: 0.8134 - val_loss: 0.3641 - val_accuracy: 0.8168
Epoch 9/30
30162/30162 [==============================] - 2s 74us/step - loss: 0.3696 - accuracy: 0.8130 - val_loss: 0.3713 - val_accuracy: 0.8133
Epoch 10/30
30162/30162 [==============================] - 2s 76us/step - loss: 0.3695 - accuracy: 0.8156 - val_loss: 0.3655 - val_accuracy: 0.8175
Epoch 11/30
30162/30162 [==============================] - 2s 74us/step - loss: 0.3686 - accuracy: 0.8118 - val_loss: 0.3859 - val_accuracy: 0.7896
Epoch 12/30
30162/30162 [==============================] - 2s 76us/step - loss: 0.3681 - accuracy: 0.8143 - val_loss: 0.3670 - val_accuracy: 0.8100
Epoch 13/30
30162/30162 [==============================] - 2s 79us/step - loss: 0.3683 - accuracy: 0.8150 - val_loss: 0.3682 - val_accuracy: 0.8170
Epoch 14/30
30162/30162 [==============================] - 2s 73us/step - loss: 0.3681 - accuracy: 0.8143 - val_loss: 0.3644 - val_accuracy: 0.8165
Epoch 15/30
30162/30162 [==============================] - 2s 72us/step - loss: 0.3668 - accuracy: 0.8134 - val_loss: 0.3646 - val_accuracy: 0.8167
Epoch 16/30
30162/30162 [==============================] - 2s 71us/step - loss: 0.3660 - accuracy: 0.8156 - val_loss: 0.3642 - val_accuracy: 0.8177
Epoch 17/30
30162/30162 [==============================] - 2s 72us/step - loss: 0.3659 - accuracy: 0.8160 - val_loss: 0.3637 - val_accuracy: 0.8177
Epoch 18/30
30162/30162 [==============================] - 2s 73us/step - loss: 0.3649 - accuracy: 0.8156 - val_loss: 0.3677 - val_accuracy: 0.8180
Epoch 19/30
30162/30162 [==============================] - 2s 72us/step - loss: 0.3654 - accuracy: 0.8152 - val_loss: 0.3694 - val_accuracy: 0.8129
Epoch 20/30
30162/30162 [==============================] - 2s 72us/step - loss: 0.3658 - accuracy: 0.8164 - val_loss: 0.3796 - val_accuracy: 0.8040
Epoch 21/30
30162/30162 [==============================] - 2s 70us/step - loss: 0.3645 - accuracy: 0.8180 - val_loss: 0.3650 - val_accuracy: 0.8187
Epoch 22/30
30162/30162 [==============================] - 2s 70us/step - loss: 0.3629 - accuracy: 0.8168 - val_loss: 0.3684 - val_accuracy: 0.7956
Epoch 23/30
30162/30162 [==============================] - 2s 71us/step - loss: 0.3631 - accuracy: 0.8174 - val_loss: 0.3622 - val_accuracy: 0.8191
Epoch 24/30
30162/30162 [==============================] - 2s 69us/step - loss: 0.3631 - accuracy: 0.8157 - val_loss: 0.3650 - val_accuracy: 0.8184
Epoch 25/30
30162/30162 [==============================] - 2s 72us/step - loss: 0.3640 - accuracy: 0.8138 - val_loss: 0.3652 - val_accuracy: 0.8174
Epoch 26/30
30162/30162 [==============================] - 2s 71us/step - loss: 0.3624 - accuracy: 0.8159 - val_loss: 0.3632 - val_accuracy: 0.8143
Epoch 27/30
30162/30162 [==============================] - 2s 71us/step - loss: 0.3631 - accuracy: 0.8145 - val_loss: 0.3623 - val_accuracy: 0.8173
Epoch 28/30
30162/30162 [==============================] - 2s 72us/step - loss: 0.3634 - accuracy: 0.8156 - val_loss: 0.3688 - val_accuracy: 0.8179
Epoch 29/30
30162/30162 [==============================] - 2s 73us/step - loss: 0.3640 - accuracy: 0.8165 - val_loss: 0.3641 - val_accuracy: 0.8147
Epoch 30/30
30162/30162 [==============================] - 2s 79us/step - loss: 0.3628 - accuracy: 0.8163 - val_loss: 0.3619 - val_accuracy: 0.8167

o start the TensorBoard server, one option is to open a terminal, if needed activate the virtualenv where you installed TensorBoard, go to this notebook's directory, then type:

```python
$ tensorboard --logdir=./my_logs --port=6006
```

You can then open your web browser to localhost:6006 and use TensorBoard. Once you are done, press Ctrl-C in the terminal window, this will shutdown the TensorBoard server.

Alternatively, you can load TensorBoard's Jupyter extension and run it like this:

```python
%load_ext tensorboard
%tensorboard --logdir=./my_logs --port=6006
```

Gdyby nie działał tensorboard

https://github.com/pytorch/pytorch/issues/22676
```python
pip uninstall tb-nightly tensorboardX tensorboard
pip install tensorboard
```

# Zad

* Naucz dowolny model na zbiorze MNIST.
* Wyświetl krzywe uczenia w tensorboard